@import '../mixins.scss';

.add-recipe-container {
  display: flex;
  flex-direction: column;
  width: 900px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  text-align: left;

  @include tablet {
    width: 600px;
  }

  @include phone {
    width: 320px;
  }

  h2 {
    font-size: 40px;
    margin-bottom: 50px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form--small {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  input {
    width: 300px;

    @include phone {
      width: 100%;
    }
  }
}

label {
  margin-bottom: 16px;
  font-weight: bold;
}

.meal-type-and-diet {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.selection {
  margin-bottom: 20px;

  label {
    margin-right: 6px;
  }

  select {
    margin-right: 20px;
  }
}

.button--submit {
  margin-top: 15px;
  padding: 8px 16px;
  background-color: #FFA500;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color .1s ease;
  height: 30px;
  width: 100px;
}

.min-height-field {
  min-height: 260px;
}

.min-height-field--small {
  min-height: 100px;
}